# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.MagicLeap_Examples.iml
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\sunlu\MagicLeap\tools\unity\v0.53.2\MagicLeap_Examples\.idea\.idea.MagicLeap_Examples\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
